.App {
  /*text-align: center;*/
  margin-left: 50px;;
}

.todoListTasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todoListTasks>li{
  align-self: flex-start;
  list-style: none;
}

.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aqua;
}

.is-done{
  opacity: 0.5;
  text-decoration: line-through;
}